<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>seqeulize</title>
    <style>
        table { border :1px solid black; border-collapse: collapse;}
        table th,td { border:1px solid black;}
    </style>
</head>
<body>
    <form id="user-form">
        <fieldset>
            <legend>사용자 등록</legend>
            <p><input id="name" type="text" placeholder="이름"></p>
            <p><input id="age" type="number" placeholder="나이"></p>
            <p><input id="married" type="checkbox"><label for="married"> 결혼 여부</label></p>
            <p><button type="submit">등록</button></p>
        </fieldset>
    </form>
    <br>
    <table id="user-list">
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>나이</th>
                <th>결혼여부</th>
            </tr>
        </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{ '기혼' if user.married else '미혼'}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <form id="comment-form">
        <fieldset>
            <legend>댓글 등록</legend>
            <p><input type="text" id="userid" placeholder="사용자 아이디"></p>
            <p><input type="text" id="comment" placeholder="댓글"></p>
            <p><button type="submit">등록</button></p>
        </fieldset>
    </form>
    <br>
    <table id="comment-list">
        <thead>
            <tr>
                <th>아이디</th>
                <th>작성자</th>
                <th>댓글</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/sequelize.js"></script>
</body>
</html>